h1{
    font-family: 'Poppins', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-family: 'Yeseva One', cursive;
}
.border{
    border-image:linear gradient(red,cyan);
    border-image-slice: 1px;
    border-left: 3px solid red;
    padding-left: 5px;
    border-radius: 3px;
    font-size: 50px;
}
.link-button{
     text-decoration: none;
     background-color: rgb(212, 75, 50);
     padding: 10px 40px;
     border-radius: 5px;
     color: white;
     

 
}
  



body{
    font-family: 'Dongle', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-family: 'Yeseva One', cursive;
}
.tupi{
padding-top: 20px;
}

section{
    display: flex;
}
.half-width{
    width: 100%;


}
.half-width img{
    width: 400px;
    padding-left: 100px;
    padding-top: 50px;
}
#omor{
    padding-top: 150px;
    padding-left: 140px;
}
.color{
    color: orange;
}




    
